
@{
    ViewBag.Title = "Perfil Currícular - Certificados";
}

<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
<link rel="stylesheet" type="text/css" href="/Scripts/wowSlider/engine3/style.css" />
<script type="text/javascript" src="/Scripts/wowSlider/engine3/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->

<div class="main-wrapper" style="margin-top: 30px; padding-right: 35px;width: 100%;">
    <h2 class="section-title" style="font-size:30px;text-align:center;margin-bottom:0px;"><i class="fa fa-certificate" style="width: 45px; height: 45px; font-size: 30px; "></i>Certificados</h2>
    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container3">
        <div class="ws_images"> 
            <ul>
                <li><img src="/Scripts/wowSlider/data3/images/certificado_senac.jpg" alt="certificado senac" title="certificado senac" id="wows3_0" /></li>
                <li><img src="/Scripts/wowSlider/data3/images/historico_senac.jpg" alt="historico senac" title="historico senac" id="wows3_1" /></li>
                <li><a href="http://wowslider.com/vi"><img src="/Scripts/wowSlider/data3/images/certificado_uninove.jpg" alt="image slider" title="Certificado Uninove" id="wows3_2" /></a></li>
                <li><img src="/Scripts/wowSlider/data3/images/certificado_green_sql2.jpg" alt="certificado green sql" title="certificado green sql" id="wows3_3" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="certificado senac"><span><img src="/Scripts/wowSlider/data3/tooltips/certificado_senac.jpg" alt="certificado senac" />1</span></a>
                <a href="#" title="historico senac"><span><img src="/Scripts/wowSlider/data3/tooltips/historico_senac.jpg" alt="historico senac" />2</span></a>
                <a href="#" title="Certificado Uninove"><span><img src="/Scripts/wowSlider/data3/tooltips/certificado_uninove.jpg" alt="Certificado Uninove" />3</span></a>
                <a href="#" title="certificado green sql"><span><img src="/Scripts/wowSlider/data3/tooltips/certificado_green_sql2.jpg" alt="certificado green sql" />4</span></a>
            </div>
        </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">http://wowslider.com/</a> by WOWSlider.com v8.7</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="/Scripts/wowSlider/engine3/wowslider.js"></script>
    <script type="text/javascript" src="/Scripts/wowSlider/engine3/script.js"></script>
    <!-- End WOWSlider.com BODY section -->

</div>