
@{
    ViewBag.Title = "Perfil Currícular - Ferramentas Utilizadas";
}

<div class="main-wrapper" style="margin-top:30px;padding-right: 35px; width: 100%;">
    <h2 class="section-title" style="font-size:30px;text-align:center;"><i class="fa fa-wrench" style="width: 45px; height: 45px; font-size: 30px;"></i>Ferramentas Utilizadas</h2>
    
    <h5 class="section-title" style="text-align: center; color: #000000; text-transform: none; font-family: Bree Serif;">O Site foi desenvolvido utilizando as tecnologias e bibliotecas citadas abaixo:</h5>

    <br />
    <br />

    <div class="table" style="font-family: Bree Serif;">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://www.w3schools.com/html/html5_intro.asp" target="_blank">HTML5</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://www.w3schools.com/css/css3_intro.asp" target="_blank">CSS3 &amp; Bootstrap</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://wowslider.com/" target="_blank">WowSlider</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://themes.3rdwavemedia.com/website-templates/orbit-free-resume-cv-template-for-developers/" target="_blank">Orbit Resume Template</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="https://dribbble.com/shots/378407-Login-Form-Free-Resource-PSD-HTML-CSS3-jQuery" target="_blank">Login Form Template</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="https://jquery.com/" target="_blank">JQuery &amp; Ajax</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://www.w3schools.com/js/" target="_blank">Javascript</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://www.w3schools.com/json/" target="_blank">JSON</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://www.asp.net/" target="_blank">ASP.NET MVC Framework 4.5.1</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="http://www.asp.net/entity-framework/" target="_blank">Entity Framework 6.1.3</a>
            </div>
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="https://msdn.microsoft.com/en-us/library/7t6b43z4.aspx/" target="_blank">Forms Authentication</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-circle-o"></i>
                <a href="https://msdn.microsoft.com/pt-br/sqlserver2014express.aspx/" target="_blank">Microsoft SQL Server 2014</a>
            </div>
        </div>
    </div>
</div>