@model PerfilCurricular.Models.Curriculo

@{
    ViewBag.Title = "Perfil Currícular - Currículo";
}

<script src="/Scripts/pageScripts/curriculo.js"></script>

<div class="wrapper">

    @Html.Partial("SidebarPartial")

    @Html.Partial("MainPartial")

</div>